body{
	margin-top:80px;
	background-color:silver
}
h1{
	font-size:80px;
	color:white;
}
h2{
	font-family:lobster;
	color:orange;
}

.img1
{
	height:400px;
  // clip: rect(0px,0px,1500px,0px);
  width:100%;
	//margin-bottom:-300px;
}
.black{
background-color:black;	
}
p{
	 margin-left:20px; 
	 font-size:40px; 
}
p1{
	 margin-left:15px; 
	 font-size:40px; 
}
h4{
	color:green;
	 margin-left:15px; 
	 font-size:20px; 
}
p3{
	margin-left:15px; 
	 font-size:30px; 
}
span{
	color:green;
	font-size:20px
}